---
import Card from "~/components/Card.astro";

import PageHeading from "~/components/common/PageHeading.astro";
import { SITE_META } from "~/consts";
import RootLayout from "~/layouts/RootLayout.astro";
---

<RootLayout title={SITE_META.title} description={SITE_META.description}>
  <div>
    <div class="space-y-8 sm:pt-6">
      <PageHeading>Hey!</PageHeading>
      <p class="text-lg tracking-normal text-gray-600 dark:text-gray-400">
        I’m Paul, a software engineer based in Dallas, TX. I'm building web applications for Portion Capital that solve business needs for our portfolio companies. I'm passionate about using the Web Platform to build performant, resilient,
        and scalable experiences. When I'm not coding, I'm probably playing guitar or piano, biking, or hanging out with my family.
      </p>
      <div>
        <a href="/Paul Morris - Software Engineer.pdf" download class="font-medium text-primary-500 dark:text-primary-400" data-umami-event="download-resume">Download my resume 👋🏼</a>
      </div>
      <div>
        <p class="font-medium text-primary-500 dark:text-primary-400">Using</p>
        <p class="tracking-wide">TypeScript | React | Remix | Next.js | Node.js | SQL</p>
      </div>
      <div>
        <p class="font-medium text-primary-500 dark:text-primary-400">Learning</p>
        <p class="tracking-wide">Go | AWS</p>
      </div>
    </div>

    <section class="mt-6 sm:mt-12">
      <h2 class="mb-4 text-xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-2xl md:text-3xl">Projects</h2>
      <div class="flex flex-wrap items-start gap-4">
        <Card title="NonProfit Ally" href="https://np-ally-staging.vercel.app">
          <p class="prose text-gray-500 dark:text-gray-400">
            A production multitenant fullstack Remix application that I built for a local nonprofit. It's a CRM that allows them to track their donors, staff account balances, and reimbursement requests. It's built on TypeScript, Prisma,
            and Zod and is hosted on Vercel.
          </p>
          <p class="prose mt-2 text-gray-500 dark:text-gray-400">Login with <code>testuser@remix.run</code> and <code>password123</code> and have a look around!</p>
        </Card>
        <Card title="Worship Devo" href="https://devo.theworshipinitiative.com">
          <p class="prose text-gray-500 dark:text-gray-400">A fullstack Remix application for consuming daily audio content from The Worship Initiative. Built with TypeScript and Prisma, and hosted on AWS using ECS, S3, and Cloudfront.</p>
          <p class="prose mt-2 text-gray-500 dark:text-gray-400">Sign up (it&apos;s free) and see how we attempted to recreate a native listening experience in the browser.</p>
        </Card>
      </div>
    </section>
  </div>
</RootLayout>
