---
import Skills from "@/components/Skills";
import PageLayout from "@/layouts/Base";
// import type { Post } from "@/types";
// import { sortMDByDate } from "@/util";
import resume from "../assets/resume.pdf";

const meta = { title: "Home" };

// const MAX_POSTS = 10;
// const allPosts = await Astro.glob<Post>("./posts/*.mdx");
// const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
  <section>
    <h1 class="mb-6 title">Hello!</h1>
    <p class="mb-12">
      I’m Paul - a frontend engineer currently building things with <a
        href="https://tidecleaners.com/en-us"
        class="cactus-link"
        rel="noreferrer"
        target="_blank">Tide Cleaners</a
      >. A few years ago I was in working in customer service and I decided to
      learn how to code at <a
        href="https://teamtreehouse.com/techdegree/front-end-web-development"
        class="cactus-link"
        rel="noreferrer"
        target="_blank">Treehouse</a
      >. I've worked on all kinds of projects from enterprise .NET applications
      to small React apps. I love the web and talking about new technologies
    </p>
    <div class="mb-12">
      <span>•</span>
      <a class="cactus-link" href={resume} download>Download my resume!</a>
    </div>
  </section>
  <section class="mb-12">
    <Skills />
  </section>
  <!-- <section aria-label="Blog post list">
    <h2 class="mb-4 text-xl title">Posts</h2>
    <ul class="space-y-4 sm:space-y-2">
      {
        allPostsByDate.map((p) => (
          <li class="[&_q]:w-full flex flex-wrap items-center gap-x-2">
            <BlogPostPreview post={p} as="h2" />
          </li>
        ))
      }
    </ul>
  </section> -->
</PageLayout>
