---
import np from "~/assets/np.png";
import Card from "~/components/Card.astro";
import PageHeading from "~/components/common/PageHeading.astro";
import RootLayout from "~/layouts/RootLayout.astro";

const projectsData = [
  {
    title: "NonProfit Ally",
    description:
      'A production multitenant fullstack Remix application that I built for a local nonprofit. It\'s a CRM that allows them to track their donors, staff account balances, and reimbursement requests. It\'s built on TypeScript, Prisma, and Zod and is hosted on Vercel. Login with "testuser@remix.run" and "password123" and take a look around!',
    img: np,
    href: "https://np-ally-staging.vercel.app",
  },
  {
    title: "Worship Devo",
    description: `A fullstack Remix application for consuming daily audio content from The Worship Initiative. Built with TypeScript and Prisma, and hosted on AWS using ECS, S3, and Cloudfront. Sign up (it's free) and see how we attempted to recreate a native mobile listening experience in the browser. This project is intended for mobile devices only.`,
    img: "https://d3v3t4lx91fuvw.cloudfront.net/images/og-image.png",
    href: "https://devo.theworshipinitiative.com",
  },
];
---

<RootLayout title="Projects" description="Some projects that I'm proud of.">
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <PageHeading>Projects</PageHeading>
    </div>
    <div class="container py-12">
      <div class="flex flex-wrap gap-8">
        {projectsData.map((d) => <Card title={d.title} description={d.description} img={d.img} href={d.href} />)}
      </div>
    </div>
  </div>
</RootLayout>
