---
import mm from "~/assets/mm.png";
import np from "~/assets/np.png";
import Card from "~/components/Card.astro";
import PageHeading from "~/components/common/PageHeading.astro";
import RootLayout from "~/layouts/RootLayout.astro";

const projectsData = [
  {
    title: "NonProfit Ally",
    description:
      'A production fullstack Remix application that I built for a local nonprofit. It\'s a CRM that allows them to track their donors, staff account balances, and reimbursement requests. It\'s built on TypeScript, Prisma, and Zod and is hosted on Vercel. Login with "paul@remix.run" and "password" and take a look around!',
    img: np,
    href: "https://np-ally-staging.vercel.app",
  },
  {
    title: "Machine Manager",
    description: `A fullstack Remix application for tracking physical assets that was intended to replace a legacy internal tool. It primarily leverages TypeScript, Prisma, and Zod. Login and check out the invoices section. Try creating a new invoice and adding various charges!`,
    img: mm,
    href: "https://machine-management.vercel.app",
  },
];
---

<RootLayout title="Projects" description="Some projects that I'm proud of.">
  <div class="divide-y divide-gray-200 dark:divide-gray-700">
    <div class="space-y-2 pb-8 pt-6 md:space-y-5">
      <PageHeading>Projects</PageHeading>
    </div>
    <div class="container py-12">
      <div class="flex flex-wrap gap-8">
        {projectsData.map((d) => <Card title={d.title} description={d.description} img={d.img} href={d.href} />)}
      </div>
    </div>
  </div>
</RootLayout>
