---
import ThemeToggle from "./ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="relative z-50 sm:mb-24 mb-12 flex items-center sm:items-start">
  <span>
    <a
      href="/"
      class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
      aria-current={url.pathname === "/" ? "page" : false}
    >
      <span class="text-xl font-bold sm:text-2xl">Paul Morris</span>
    </a>
  </span>
  <ThemeToggle />
</header>
