---
import { Icon } from "astro-icon";
import ThemeToggle from "./ThemeToggle.astro";
const url = new URL(Astro.request.url);
---

<header class="relative z-50 sm:mb-24 mb-12 flex items-center sm:items-start">
  <span>
    <a
      href="/"
      class="inline-flex items-center sm:relative gap-3"
      aria-current={url.pathname === "/" ? "page" : false}
    >
      <Icon
        pack="pixelarticons"
        name="zap"
        class="h-8 w-8 inline-block"
        alt=""
        aria-hidden="true"
      />
      <span class="text-xl font-bold sm:text-2xl font-mono">Paul Morris</span>
    </a>
  </span>
  <ThemeToggle />
</header>
