---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, ...rest } = Astro.props;

const isInternalLink = typeof href === "string" && href.startsWith("/");
const isAnchorLink = typeof href === "string" && href.startsWith("#");
---

{
  isInternalLink || isAnchorLink ? (
    <a href={href} {...rest}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noopener noreferrer" href={href} {...rest}>
      <slot />
    </a>
  )
}
