---
import { Icon } from "astro-icon/components";
import Button from "~/components/common/Button.astro";
---

<Button id="back-to-top" size="md" style="accent" class="shadow-accent fixed bottom-6 right-6 hidden aspect-square w-auto rounded-full p-3 text-white shadow-sm transition ease-in-out hover:scale-105">
  <span class="sr-only">Back to top</span>
  <Icon name="tabler:arrow-bar-to-up" class="h-6 w-6" />
</Button>

<script>
  import { animate } from "motion";
  const button = document.getElementById("back-to-top");
  let isButtonVisible = false;

  if (button) {
    window.addEventListener("scroll", () => {
      if (window.scrollY >= document.body.scrollHeight * 0.15) {
        if (!isButtonVisible) {
          button.classList.remove("hidden");
          animate(button, { opacity: [0, 1] }, { duration: 0.25 });
          isButtonVisible = true;
        }
      } else {
        if (isButtonVisible) {
          animate(button, { opacity: [1, 0] }, { duration: 0.25 }).finished.then(() => {
            button.classList.add("hidden");
          });
          isButtonVisible = false;
        }
      }
    });

    button.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "auto" });
    });
  }
</script>
