---
import { Icon } from "astro-icon";
---

<section class="mt-16">
  <h2 class="mb-4 text-xl title">Tech</h2>
  <ul
    class="grid gap-4 grid-cols-2 sm:flex flex-wrap sm:[&>li]:border-r sm:[&>li]:border-dashed sm:[&>li]:pr-4 sm:[&>li:last-child]:border-0 [&>li]:border-textColor font-mono text-base"
  >
    <li class="flex items-center">
      <span>TypeScript</span>
      <Icon pack="pixelarticons" name="heart" class="text-link ml-2 h-4 w-4" />
    </li>
    <li>React</li>
    <li>Remix</li>
    <li>Next.js</li>
    <li>Node</li>
    <li>SQL</li>
  </ul>
</section>
